.chatContainer{
    display: flex;
    height: 100%;
    width:100%;

    .sidebar{
        display: flex;
        border-top: 5px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        width: 100%; max-width: 30%;
        min-width: 310px;
        margin-top: 5rem;
        height: calc(100vh - 8rem);
        background-color: #333333;
        align-items: center;
        flex-direction: column;

        overflow-x: hidden;

        .search{
            background-color: #333333;
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: sticky;
            .searchForm{
                input{
                    border: none;
                    background-color: white;
                    outline: none;
                    width: 250px;
                    height: 5vh;
                    border-radius: 10px 10px 10px 10px;
                }
            }
            .resultList{

                display: flex;
                background-color: white;
                background-color: rgb(94, 94, 94, 0);
                flex-direction: column;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: calc(4.5rem);
                gap: 1px;


                .individualResult {
                    border-radius:  10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 260px;
                    height: 6vh;
                    color: white;
                    background-color: rgb(43, 43, 43);
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(31, 31, 31);
                    }
                }
            }
        }

        .containerUserChat{
            width: 100%; min-width: 310px;
            max-height: calc(100vh - 14rem);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .userChat {
                width: 80%; padding: 10px; min-width: 290px;
                display: flex;
                align-items: center;
                justify-content: left;
                flex-direction: row;
                margin-bottom: 5px;
                height: 35px;
                border-radius: 60px;
                background-color: rgba(214, 214, 214, 0.29);

                &:hover{
                    background-color: rgba(214, 214, 214, 0.5);
                }
                .imageSize{
                    width: 50px;
                    height: 50px;
                    position: relative;
                    border-radius: 50%;
                    margin-left: -7px;
                    .imageSizeChatList{
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .userChatInfo{
                    font-family: "Epilogue", sans-serif;
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-top: 12px;

                    span{font-size: 18px;
                        font-weight: 500;
                        color: #D9D9D9
                    }

                    p{
                        font-size: 14px;
                        max-width: 220px;
                        overflow: hidden;
                        color: #000000;
                        white-space: nowrap;
                        text-overflow: ellipsis;}
                }
            }

        }
    }


    .chat{
        margin-left: -1px;
        border-left: 4px solid rgba(255, 255, 255, 0.05);
        border-top: 5px solid rgba(255, 255, 255, 0.05);
        width: 100%;
        height: calc(100vh - 8rem);
        background-color: #333333;
        margin-top: 5rem;

        span{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-top: 10px;
            padding-bottom: 7px;
            opacity: 50%;
        }
        .chatInfo{
            height: 0;
        }

        .messages{
            background-color: #333333;
            padding: 10px;
            max-height: calc(100% - 8rem);
            overflow-x: hidden;

        }

        .message{
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 200px;
            gap: 5px;

            .messageInfo{

                color: gray;
                width: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .imageSizeChat{
                    position: relative;
                    object-fit: cover;
                    border-radius: 50%;
                }
                span{
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .messageContent{
                max-width: 80%;
                justify-content: left;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p{
                    background-color: #D4D4D4;
                    padding: 10px 20px;
                    border-radius: 10px 10px 10px 0px;
                }
            }
            &.owner{
                gap: 5px;
                flex-direction: row-reverse;

                p{
                    background-color: #7F44A5;
                    color: white;
                    border-radius: 10px 10px 0px 10px;
                }
            }
        }

        .chatInputContainer{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .chatInput {
                display: flex;
                width: 60%;
                align-items: center;
                height: 3rem;
                border-radius: 10px;
                background-color: white;
                position: absolute;
                bottom: 3.1rem;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 18px;
                }

                .send {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 100px;
                    right: 0;

                    .chatImageStyle {
                        height: 46px;
                        width: 46px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: white;
                    }

                    .chatImageStyle:hover {
                        transform: scale(1.1);
                        transition: 0.15s all linear;
                    }

                    .sendButtonContainer{
                        height: 46px;
                        width: 46px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        cursor: pointer;

                        .sendButton {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                    .sendButtonContainer:hover {
                        transform: scale(1.1);
                        transition: 0.15s all linear;
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .chat{
        display: none;
        .positioningExit{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
        .exitButton{
            display: block;

            left: 10px;
            width: 70px;
            height: 40px;

            border-radius: 5px;
            border: none;
            background-color: #F26157;
            color: white;
            font-size: 1em;
        }
        .chatInput{
            display: flex;
            align-items: center;
            height: 3rem;
            border-radius: 5px;
            background-color: white;
            bottom: 3rem;
            min-width: 99.5%;

            input{
                width: 100%;
                border: none;
                outline: none;
                font-size: 18px;
            }

            .send{
                display: flex;
                align-items: center;
                gap: 10px;

                .chatImageStyle{
                    cursor: pointer;
                }

            }
        }
    }
    .chatContainer {
        width: 100vw;
        background-color: black;
        .sidebar{
            width: 100%;  max-width: 100%;
            border-top: none;
            border-right: none;
            .containerUserChat{
                align-items: center;
                width: 100%;
                .userChat{
                    width: 75%; max-width: 350px;
                }
            }
            .search{
                width: 100%;
            }
        }

    }
    .layout-footer{
        font-size: 0.8em;
    }

}
@media (min-width: 800px) {
    .exitButton {
        display: none;
        width: 50px;
    }

}