.buttonMarkers{
    justify-content: center;
    width: 100vw;
    height: 0;
    align-items: center;
    display: flex;
}
.clearMyMarker{
    z-index: 10000;
    position: relative;
    display: none;
    }

.setMyMarker{
    top: 75vh;
    height: 6vw;
    width: 6vw;
    border-radius: 3vw;
    background-color: #FF5A5E;
    z-index: 10000;
    position: relative;
    color: white;
    border-width: 0.2vw;
    }

button.setMyMarker:hover {
    color: white;
    background-color: #de3a3e;
    border-width: 0.1vw;
}

.getPinsButton{
    top: 160px;
    left: 10px;
    z-index: 10000;
    position: absolute;
}


