/*CSS för inloggade*/

.layout-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #3A3C56;
    padding: 2vw;
}

.header-buttons{
    width: 12vw;
    height: 5em;
    border-radius: 12px;
    font-size: 1.5vw;
    margin-left: 3em;
}

.header-profile-button{
    width: 90px;
    height: 90px;
    border-radius: 160px;
    font-size: 1.5vw;
    margin-left: 15vw;
}

.layout-footer{
    background-color: #3A3C56;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 600px) {
    .layout-header {
        display: flex;
        flex-direction: row;
        background-color: #3A3C56;
        padding: 2vw;
    }

    .toolbar-logo {

    }

    .header-buttons{
        width: 12vw;
        height: 5em;
        border-radius: 12px;
        font-size: 1em;
        margin-left: 3em;
    }

    .header-profile-button{
        width: 90px;
        height: 90px;
        border-radius: 160px;
        font-size: 1.5em;
        margin-left: 15vw;
    }

    .layout-footer{
        background-color: #3A3C56;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: left;
    }
}

