/*CSS för inloggade*/

.layout-header {
    display: flex;
    width: 100vw;
    position:fixed !important;
    white-space: nowrap;
    flex-direction: row;
    top:0;
    background-color: #3A3C56;
    padding: 2vw;
}

.header-buttons{
    color: white;
    background-color: #3A3C56;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    border-radius: 2vw;
    margin: 30px;
    border: 2px solid #5c5f89;

}

.header-buttons:hover {
    background: #5c5f89;
}

.header-profile-button{
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    font-size: 1em;
    margin-left: 5em;
    position: fixed;
    right: 1.5vw; top: 1.3vw;
}

.layout-footer{
    display: flex;
    width: 100vw;
    position:fixed !important;
    white-space: nowrap;
    flex-direction: row;
    bottom:0;
    background-color: #3A3C56;
    padding: 2vw;
}

@media only screen and (max-width: 600px) {
    .layout-header {
        display: flex;
        width: 100vw;
        position:fixed !important;
        white-space: nowrap;
        flex-direction: row;
        top:0;
        background-color: #3A3C56;
        padding: 2vw;
    }

    .header-buttons{
        width: 12vw;
        height: 3em;
        border-radius: 12px;
        font-size: 1.5vw;
        margin-left: 3em;
        background-color: rgba(255, 255, 255, 0.29);
        color: white;
        outline-color: white;
    }

    .header-profile-button{
        width: 6vw;
        height: 6vw;
        border-radius: 100%;
        font-size: 1em;
        margin-left: 5em;
        position: fixed;
        right: 1.5vw; top: 1.3vw;
    }

    .layout-footer{
        display: flex;
        width: 100vw;
        position:fixed !important;
        white-space: nowrap;
        flex-direction: row;
        bottom:0;
        background-color: #3A3C56;
        padding: 2vw;
    }
}