.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.popupInner {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #3A3C56;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Epilogue', sans-serif;
}

.popupInner .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
    cursor: pointer;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.inputFields {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #585858;
    box-sizing: border-box;
    background-color: #3A3C56;
    border-radius: 15px 15px 15px 15px;
    color: white;
}
.popupButtons {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #633580;
    box-sizing: border-box;
    background-color: #7F44A5;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-family: 'Epilogue', sans-serif;
}